.section_projects {
  background: var(--text-purple);
}
.section_projects .single_project {
  border: 3px solid var(--text-purple-light);
  border-radius: 0.7rem;
  padding-bottom: 0.5rem;
}
.section_projects .link_btns > a span {
  color: var(--text-light) !important;
  padding: 0.3rem 0.5rem;
  font-size: 22px;
  transition: 0.3s linear;
}
.section_projects .link_btns > a span:hover {
  color: var(--text-purple-mid) !important;
}

.section_projects .img_wrapper img {
  padding: 0rem 2rem;
}
