.section_skills {
}

.section_skills .single_skill {
  background: var(--text-purple-light);
  padding: 2.5rem 1rem;
  transition: 0.5s ease-in-out;
}

.single_skill img {
  object-fit: cover;
  max-width: 42px;
  padding: 0.1rem;
}
