.social .social_info .single_link > span {
  font-size: 18px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light) !important;
  background: linear-gradient(
    -45deg,
    transparent,
    var(--text-purple-mid) 100%,
    rgb(255, 255, 255),
    transparent
  );
}

.social .social_info .single_link > span:hover {
  background: var(--text-purple-light);
}
