.send_mail {
  background: var(--clr-purple-light);
  padding: 3.5rem 3rem;
  border-radius: 0.7rem;
}
.send_mail h3 {
  color: var(--clr-purple-light);
}

.send_mail input,
.send_mail textarea {
  border-radius: 0.3rem;
  border: 0;
  padding: 0.6rem 0rem 0.6rem 1rem;
  background: var(--clr-deep);
  font-size: 14px;
  font-weight: 500;
}
.send_mail input::placeholder,
.send_mail textarea::placeholder {
  font-size: 14px;
  font-weight: var(--fw-semibold);
}
.send_mail input:focus,
.send_mail textarea:focus {
  box-shadow: var(--clr-purple-light);
  background: var(--clr-light);
  color: var(--clr-primary);
}

@media (max-width: 1024px) {
  .send_mail {
    padding: 3rem 2rem;
  }
}
