.admin_form label {
  color: var(--text-white);
  margin-bottom: 0.4rem;
}

.admin_form input,
.admin_form textarea {
  border-radius: 0;
  background: var(--text-white);
}

.admin_form .save_btn {
  background: var(--text-secondary) !important;
  color: var(--text-primary);
}
