.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 21, 18, 0.205);
  backdrop-filter: blur(20px);
  z-index: 1000;
}

.sidebar h5 {
  color: var(--text-primary) !important;
}
.sidebar .icon {
  color: var(--text-primary);
  font-size: 20px;
}
.Page_link {
  background: var(--text-secondary);
  width: 270px;
  height: 100%;
}
.sidebar_link li {
  background: var(--text-primary);
  text-transform: capitalize;
  margin-bottom: 1rem;
  padding: 0.8rem 0rem;
  text-align: center;
}
.sidebar_link li a {
  color: var(--text-secondary) !important;
  text-transform: capitalize;
  cursor: pointer;
}
