.footer {
  min-height: 20vh !important;
  display: grid;
  place-items: center;
  background: var(--clr-purple-light);
}
.up_down {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 4rem;
  margin-bottom: 4rem;
  z-index: 10000;
}
.up_down:hover {
  background: var(--clr-purple-light) !important;
}

.footer .up_down .up_link span {
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-light) !important;
  background: var(--clr-purple-mid);
}
