.section_about .about_btn {
  border: 1px solid var(--text-secondary) !important;
  color: var(--text-secondary) !important;
  font-size: var(--text-sm);
}

.section_about p {
  text-align: justify;
  line-height: 20px;
  margin: 0;
}

.section_about .about_img {
  border: 2px solid var(--text-purple-light);
  background: linear-gradient(
    45deg,
    transparent,
    var(--text-purple),
    var(--text-purple-light),
    transparent
  );
}

.section_about .about_img img {
  border: 1px solid var(--text-purple-light);
}
