.about .about_img img {
  object-fit: cover;
}
.about .about_btn {
  border: 1px solid var(--text-secondary) !important;
  color: var(--text-secondary) !important;
  font-size: var(--text-sm);
}

.about p {
  text-align: justify;
  line-height: 20px;
  margin: 0;
}

@media (max-width: 1024px) {
  .about {
    min-height: min-content !important;
    padding: 3rem 0rem;
  }
}
