.single_item {
  margin-bottom: 2.4rem;
  background: var(--text-purple-light);
  text-align: center;
  padding: 1.5rem 0rem;
  border-radius: 0.7rem;
}

.single_item span {
  color: var(--text-light) !important;
  font-size: 12px;
}
.single_item .icon {
  color: var(--text-light);
  font-size: var(--text-xl);
  padding: 0.9rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(
    -45deg,
    transparent,
    var(--text-purple-mid) 100%,
    rgb(255, 255, 255),
    transparent
  );
  margin-bottom: 1rem;
}
