.single_item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.single_item span {
  color: var(--text-white) !important;
  font-size: 12px;
}
.single_item .icon {
  color: var(--text-secondary);
  font-size: var(--text-2xl);
  /* border: 1px solid var(--text-white); */
  padding: 0.3rem;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.single_item p {
  margin: 0;
  padding: 0;
  color: var(--text-secondary);
}
