.section_intro {
  background: var(--text-purple);
}

.section_intro .profile_img {
  border: 2px solid var(--text-purple-light);
  background: linear-gradient(
    45deg,
    transparent,
    var(--text-purple),
    var(--text-purple-light),
    transparent
  );
}

.section_intro .profile_img img {
  border: 1px solid var(--text-purple-light);
}
