@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}
body {
  font-family: 'Montserrat', sans-serif !important;

  background: #190525 !important;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
:root {
  --clr-primary: #0e0f13;
  --clr-secondary: #4dc5af;
  --clr-purple: #190525;
  --clr-purple-deep: rgb(55, 26, 69);
  --clr-purple-light: rgba(58, 25, 74, 0.509);
  --clr-purple-mid: rgb(123, 56, 157);
  --clr-light: #f3f3f3;
  --clr-deep: #b8b8bb;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-2xl: 24px;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/* .padding_top {
  padding-top: 70px;
} */
img {
  max-width: 100%;
  object-fit: cover;
}
.heading {
  color: var(--clr-light) !important;
  background: linear-gradient(
    to right,
    var(--clr-purple-mid),
    var(--clr-light) 70%,
    var(--clr-purple-mid)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_style {
  color: var(--clr-light) !important;
  background: linear-gradient(
    to right,
    var(--clr-purple-mid) 10%,
    var(--clr-light) 70%,
    var(--clr-purple-mid) 10%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_heading {
  color: var(--clr-light);
  font-weight: 600;
}
.custom_text {
  color: var(--clr-light);
  font-weight: 400;
  line-height: 28px;
  font-size: var(--text-base);
}
.custom_height {
  /* min-height: 92vh; */
  padding: 100px 0px 70px 0px;
}

.custom_btn {
  color: var(--clr-light);
  background: linear-gradient(
    -45deg,
    transparent,
    var(--clr-purple-mid) 100%,
    rgb(255, 255, 255),
    transparent
  );
  transition: 0.5 !important;
  font-size: 14px;
  padding: 10px 32px !important;
  border: 1px solid var(--clr-purple-mid);
}
.custom_btn:hover {
  background: transparent;
}

@media (max-width: 992px) {
  .custom_height {
    padding: 80px 0px 30px 0px;
  }
}

@media (max-width: 576px) {
  .custom_height {
    padding: 50px 0px 20px 0px;
  }
}
